
{{#each Recipes}}
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                <img src="{{imageUrl}}">
                {{!^ so far this requires an image url to be assoicated with the Recipe model, but this will probably change when we run our image tech}}
                <span class="card-title" <a href="/recipe/{{id}}">{{dish_name}}</span>
                </div>
                <div class="card-content">
                <p>Written by {{Recipe.UserId}}</p>
                {{!^ this needs the author's name or username to be associated with the data set for each recipe}}
                </div>
                <div class="card-action">
                    <button class="regionBtn">{{regions}}</button>
                    <button class="dietaryBtn">{{dietary}}</button>
                </div>
                </div>
            </div>
        </div>
  </div>

{{/each}}
</section> 