
{{!-- annie's code, not sure why it's not rendering --}}
<section id="recipeFlexCards">
{{!-- {{#each Recipe}} --}}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                <img src="{{img_url}}">
                <span class="card-title" <a href="/recipe/{{id}}">{{dish_name}}</span>
                </div>
                <div class="card-content">
                    <div id="recipe-author">
                        <p>Written by {{userId}}</p>
                    </div>
                    <div id="recipe-region">
                       From: <p>{{regions}}</p>
                    </div>
                     <div id="recipe-time">
                       Estimated time to prepare: <p>{{timer}} minutes</p>
                    </div>
                     <div id="recipe-ingredients">
                       For this recipe, you'll need: <p>{{ingredients}}</p>
                    </div>
                     <div id="recipe-instructions">
                       To create {{dish_name}}: <p>{{instructions}}</p>
                    </div>
                </div>
                <div class="card-action">
                    <button class="regionBtn">{{regions}}</button>
                    <button class="dietaryBtn">{{dietary}}</button>
                </div>
                </div>
            </div>
        </div>
  </div>
{{!-- {{/each}} --}}
</section>

{{!-- <h1>One Recipe!</h1>
<h1>{{dish_name}}</h1>
<h2>Ingredients</h2>
<p>{{ingredients}}</p> --}}


{{!-- Does not seem to make a difference  -KG --}}
<script src="./js/recipePage.js"></script> 