
{{!-- annie's code, not sure why it's not rendering --}}
{{!-- {{#each recipes as |recipe| }} --}}
<section id="recipeFlexCards">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                <img src="{{img_url}}">
                <span class="card-title" <a href="/recipe/{{id}}">{{dish_name}}</span>
                </div>
                <div class="card-content">
                    <div id="recipe-author">
                        {{!-- y'all, I CANNOT get the author to show up here. leaving until later --}}
                        <p>Written by {{recipe.User.name}}</p>
                    </div>
                    <div id="recipe-region">
                       From: <p>{{regions}}</p>
                    </div>
                    {{!-- we don't have a timer key from recipe data -KG --}}
                     {{!-- <div id="recipe-time">
                       Estimated time to prepare: <p>{{timer}} minutes</p>
                    </div> --}}
                     <div id="recipe-ingredients">
                       For this recipe, you'll need: <p>{{ingredients}}</p>
                       {{!-- leaving ingredients as IS b/c we have to create a table for the list. Nice to have/Future --}}
                    </div>
                     <div id="recipe-instructions">
                       To create {{dish_name}}: <p>{{instructions}}</p>
                    </div>
                </div>
                <div class="card-action">
                    <button class="regionBtn">{{regions}}</button>
                    <button class="dietaryBtn">{{dietary}}</button>
                </div>
                </div>
            </div>
        </div>
  </div>
{{!-- {{/each}} --}}
</section>

{{!-- <h1>One Recipe!</h1>
<h1>{{dish_name}}</h1>
<h2>Ingredients</h2>
<p>{{ingredients}}</p> --}}


{{!-- Does not seem to make a difference  -KG --}}
{{!-- <script src="./js/recipePage.js"></script>  --}}