<!--<section id="recipeFlexCards">
{{#each Recipe}}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                <img src="{{imageUrl}}">
                <span class="card-title" <a href="/recipe/{{id}}">{{dish_name}}</span>
                </div>
                <div class="card-content">
                    <div id="recipe-author">
                        <p>Written by {{Recipe.userId}}</p>
                    </div>
                    <div id="recipe-region">
                       From: <p>{{regions}}</p>
                    </div>
                     <div id="recipe-time">
                       Estimated time to prepare: <p>{{timer}} minutes</p>
                    </div>
                     <div id="recipe-ingredients">
                       For this recipe, you'll need: <p>{{ingredients}}</p>
                    </div>
                     <div id="recipe-instructions">
                       To create {{dish_name}}: <p>{{instructions}}</p>
                    </div>
                </div>
                <div class="card-action">
                    <button class="regionBtn">{{regions}}</button>
                    <button class="dietaryBtn">{{dietary}}</button>
                </div>
                </div>
            </div>
        </div>
  </div>
{{/each}}
<<<<<<< HEAD
</section>-->
<img src="{{recipe.header_img}}">
<div class="recipeFlexCards">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{img_url}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
          <a href="/recipe/{{id}}">{{dish_name}}
          <i class="material-icons right">more_vert</i>
        </span>
       <p>Written by {{User.name}}</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>{{instructions}}</p>
    </div>
  </div>
</div>
<img class="activator" src="{{header_img}}">
=======
</section>
>>>>>>> dev
